<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="todo" ng-controller="TodoCtrl">
  <h1>Todo</h1>
  <h3>{{ todo.title }}</h3>
  <input type="text" ng-model="todo.title" />
  <input type="checkbox" ng-model="todo.completed ">
  <date>{{ todo.createdAt }}</date>
</body>
</html>
